#header{
    color: #232236f3;
    text-align: center;
}
.container{
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
   width: 50%;

}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff6b81;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}